.back-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 910;
  box-shadow: none;
  background-color: #fff;
  width: calc(100vw - 64px);
  max-width: 360px;
  display: block;
  overflow: auto;
}

.submenu,
.submenu li ul {
  margin: 0;
  padding: 0;
}

.submenu li ul {
  display: none;
}

.menu-nav-tabs {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.menu-nav-tabs li {
  padding: 16px;
  background-color: #2874f0;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.menu_option {
  position: relative;
}
.menu_option > ul {
  margin: 0;
  padding: 0;
}
.menu_option ul li {
  padding: 20px;
  position: relative;
  margin-top: 15px;
  box-shadow: 1px 1px 10px -5px grey;
  box-sizing: border-box;
  animation: fadeIn 0.3s;
}

.Arrow_Forward {
  position: absolute;
  right: 10px;
}

/* //////////////////////////////////////// */
.fade_in-display {
  transition: all 1s ease;
}

.dyn_dropdown {
  height: 100px;
  position: absolute;
  width: 300px;
  background-color: #dde1e7;
  overflow: hidden;
  transition: all 500ms ease;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: aquamarine;
}

.icon-right {
  /* margin-left: auto; */
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}
/* ////////////////////////// */
.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}
