.headProductList {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.menuCont ul,
.menuCont input[type='checkbox'] {
  display: none;
}

.menuCont input:checked ~ ul {
  display: block;
}

.listItemCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelText {
  margin: 10px 0 0 0;
  text-align: center;
}

.menuCont ul .labelText {
  display: block;
  color: green;
  padding: 0;
}

.menuCont ul {
  padding: 0;
  top: 0;
}

.headProductList > .menuCont > ul > li > .menuCont {
  position: absolute;
}
.menuCont ul li .menuCont ul {
  top: 30px;
  left: 20px;
}

.menuCont ul li .menuCont ul li .menuCont a {
  color: red;
  top: 30px;
}

.prodImgContainer {
  border: 2px solid #2874f0;
  box-shadow: 1px 1px 6px 2px darkgrey;
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.prodImgContainer img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 25px);
  height: inherit;
  object-fit: contain;
}
