.headProductList {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  position: relative;
}

.menuCont ul,
.menuCont input[type='checkbox'] {
  display: none;
}

.menuCont input:checked ~ ul {
  display: block;
}

.arrowIcon {
  margin: 0 0 0 10px;
}

.labelText,
.menuCont > ul > li > .menuCont > .listItemCont > .labelText {
  display: flex;
  align-items: center;
}

.listItemCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuCont ul {
  padding: 0;
  top: 0;
}

.headProductList > .menuCont > ul > li > .menuCont > .labelText,
.headProductList
  > .menuCont
  > ul
  > li
  > .menuCont
  > .listItemCont
  > .labelText {
  background-color: blueviolet;
  width: 100px;
  text-align: center;
  margin: -14px 0 0 0;
  font-weight: bold;
  color: black;
  font-size: 0.8em;
}

.headProductList > .menuCont > ul > li > .menuCont {
  position: absolute;
}
.menuCont ul li .menuCont ul {
  margin: 5px 0px 0px 10px;
}

.menuCont ul li .menuCont ul li .menuCont a {
  color: red;
  top: 30px;
}

.prodImgContainer {
  border: 2px solid #2874f0;
  box-shadow: 1px 1px 6px 2px darkgrey;
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.prodImgContainer img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 14px);
  height: inherit;
  object-fit: contain;
}
